@font-face {
  font-family: 'crisluna';
  src: url('../src/assets/fonts/Thesignature.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'italiana';
  src: url('../src/assets/fonts/Italiana-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'verah';
  src: url('./src/assets/fonts/Verah___.ttf')  format('truetype');
  font-weight: normal;
}



:root {
  --rosapink: #eca79e;
  --fontetitulo: 'crisluna', sans-serif;
  --fontedestaque: 'italiana', sans-serif;
  --fontenavbar: 'verah', sans-serif;
}

body {
  background: linear-gradient(to bottom, #d46a5c, #eca79e23 );

}

