.bemVinda {
    background-image: url(../../../src/assets/images/lgDesktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bvH2 {
    color: white;
    font-family: var(--fontenavbar);
    font-size: 50px;
}

.bvP{
    font-family: var(--fontenavbar);
    font-size: 25px;
    color: white;
}




@media (max-width:600px) {
    .bemVinda {
        background-image: url(../../assets/images/cellphone.png);
        width: 100%;
    }
    .bvH2 {
        font-size: 35px;
        margin-top: 20px;
    }
    .bvP{
        font-size: 17px;
    }
}

@media (max-width:768px) {
    .bemVinda {
        background-image: url(../../../src/assets/images/tablet.png);
        width: 100%;
       
    }
    .bvH2 {
        font-size: 45px;
        margin-top: 10px;
    }
    .bvP{
        font-size: 17px;
    }
}

@media (max-width:400px) {
    .bemVinda {
        background-image: url(../../../src/assets/images/xllCellphone.png);
        width: 100%;
    }
    .bvH2 {
        font-size: 20px;
        margin-top: 20px;
    }
    .bvP{
        font-size: 10px;
    }
}
