.bemVinda {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bvH2 {
    color: white;
    font-family: var(--fontenavbar);
    font-size: 50px;
}

.bvP{
    font-family: var(--fontenavbar);
    font-size: 25px;
    color: white;
}



