.bemVinda {
    background-image: url(C:\projeto-cris-luna\cris-luna-manicure\src\assets\images\boasvindas.png);
    background-repeat: no-repeat;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bvH2 {
    color: white;
    font-family: var(--fontenavbar);
    font-size: 50px;
}

.bvP{
    font-family: var(--fontenavbar);
    font-size: 25px;
    color: white;
}

@media (max-width:768px) {
    .bemVinda {
        background-image: url(C:\projeto-cris-luna\cris-luna-manicure\src\assets\images\tabletBoasVindas.png);
    }
}

@media (max-width:1200px) {
    .bemVinda{
        background-image: url(C:\projeto-cris-luna\cris-luna-manicure\src\assets\images\desktopBoasVindas.png);
    }
}