.divCris {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

h1 {
    
    color: var(--rosapink);
    font-size: 60px;
    font-family: var(--fontetitulo);
    font-weight: lighter;
}



@media (max-width: 645px) {
    h1 {
        font-size: 50px;
    }
  }