.divCris {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

h1 {
    
    color: var(--rosapink);
    font-size: 100px;
    font-family: var(--fontetitulo);
}

.unhasInicio {
    width: 300px;

}